Control_Escolar/AppControl_Escolar/Connected Services/WS_Historial_alumno_Reference/WS_Historial_alumno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT_Historial_alumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idProfesore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idGrupo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_Historial_alumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_Historial_alumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_Historial_alumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nIdAlumno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nIdGrupo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdAlumno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdGrupo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Calificacion" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Oportunidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_Historial_alumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="INSERT_Historial_alumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdAlumno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdGrupo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Calificacion" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Oportunidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_Historial_alumnoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECT_Historial_alumnoSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_Historial_alumno" />
  </wsdl:message>
  <wsdl:message name="SELECT_Historial_alumnoSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_Historial_alumnoResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_Historial_alumnoSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_Historial_alumno" />
  </wsdl:message>
  <wsdl:message name="UPDATE_Historial_alumnoSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_Historial_alumnoResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_Historial_alumnoSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_Historial_alumno" />
  </wsdl:message>
  <wsdl:message name="INSERT_Historial_alumnoSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_Historial_alumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_Historial_alumnoSoap">
    <wsdl:operation name="SELECT_Historial_alumno">
      <wsdl:input message="tns:SELECT_Historial_alumnoSoapIn" />
      <wsdl:output message="tns:SELECT_Historial_alumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Historial_alumno">
      <wsdl:input message="tns:UPDATE_Historial_alumnoSoapIn" />
      <wsdl:output message="tns:UPDATE_Historial_alumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_Historial_alumno">
      <wsdl:input message="tns:INSERT_Historial_alumnoSoapIn" />
      <wsdl:output message="tns:INSERT_Historial_alumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Historial_alumnoSoap" type="tns:WS_Historial_alumnoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_Historial_alumno">
      <soap:operation soapAction="http://tempuri.org/SELECT_Historial_alumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Historial_alumno">
      <soap:operation soapAction="http://tempuri.org/UPDATE_Historial_alumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_Historial_alumno">
      <soap:operation soapAction="http://tempuri.org/INSERT_Historial_alumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Historial_alumnoSoap12" type="tns:WS_Historial_alumnoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_Historial_alumno">
      <soap12:operation soapAction="http://tempuri.org/SELECT_Historial_alumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Historial_alumno">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_Historial_alumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_Historial_alumno">
      <soap12:operation soapAction="http://tempuri.org/INSERT_Historial_alumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Historial_alumno">
    <wsdl:port name="WS_Historial_alumnoSoap" binding="tns:WS_Historial_alumnoSoap">
      <soap:address location="http://localhost:49655/WS_Historial_alumno.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Historial_alumnoSoap12" binding="tns:WS_Historial_alumnoSoap12">
      <soap12:address location="http://localhost:49655/WS_Historial_alumno.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>