Control_Escolar/AppControl_Escolar/Connected Services/WS_Materia_Reference/WS_Materia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT_Materia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_MateriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_MateriaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_Materia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_MateriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="UPDATE_Materia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdMateria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Creditos" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_MateriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="INSERT_Materia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Creditos" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_MateriaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECT_MateriaSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_Materia" />
  </wsdl:message>
  <wsdl:message name="SELECT_MateriaSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_MateriaResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_MateriaSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_Materia" />
  </wsdl:message>
  <wsdl:message name="DELETE_MateriaSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_MateriaResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_MateriaSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_Materia" />
  </wsdl:message>
  <wsdl:message name="UPDATE_MateriaSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_MateriaResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_MateriaSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_Materia" />
  </wsdl:message>
  <wsdl:message name="INSERT_MateriaSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_MateriaResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MateriaSoap">
    <wsdl:operation name="SELECT_Materia">
      <wsdl:input message="tns:SELECT_MateriaSoapIn" />
      <wsdl:output message="tns:SELECT_MateriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_Materia">
      <wsdl:input message="tns:DELETE_MateriaSoapIn" />
      <wsdl:output message="tns:DELETE_MateriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Materia">
      <wsdl:input message="tns:UPDATE_MateriaSoapIn" />
      <wsdl:output message="tns:UPDATE_MateriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_Materia">
      <wsdl:input message="tns:INSERT_MateriaSoapIn" />
      <wsdl:output message="tns:INSERT_MateriaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_MateriaSoap" type="tns:WS_MateriaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_Materia">
      <soap:operation soapAction="http://tempuri.org/SELECT_Materia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_Materia">
      <soap:operation soapAction="http://tempuri.org/DELETE_Materia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Materia">
      <soap:operation soapAction="http://tempuri.org/UPDATE_Materia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_Materia">
      <soap:operation soapAction="http://tempuri.org/INSERT_Materia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MateriaSoap12" type="tns:WS_MateriaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_Materia">
      <soap12:operation soapAction="http://tempuri.org/SELECT_Materia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_Materia">
      <soap12:operation soapAction="http://tempuri.org/DELETE_Materia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Materia">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_Materia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_Materia">
      <soap12:operation soapAction="http://tempuri.org/INSERT_Materia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Materia">
    <wsdl:port name="WS_MateriaSoap" binding="tns:WS_MateriaSoap">
      <soap:address location="http://localhost:49655/WS_Materia.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MateriaSoap12" binding="tns:WS_MateriaSoap12">
      <soap12:address location="http://localhost:49655/WS_Materia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>