Control_Escolar/AppControl_Escolar/Connected Services/WS_Empleado_Reference/WS_Empleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT_Empleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="puesto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_EmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_EmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_IEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_IEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_IEmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_Puesto">
        <s:complexType />
      </s:element>
      <s:element name="SELECT_PuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PuestoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_Empleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_EmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="UPDATE_Empleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdEmpleado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AMaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha_nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Celular" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdAcentamiento" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPuesto" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Grado_estudios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_EmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="INSERT_Empleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AMaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha_nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Celular" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdAcentamiento" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPuesto" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Grado_estudios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_EmpleadoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECT_EmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_Empleado" />
  </wsdl:message>
  <wsdl:message name="SELECT_EmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_EmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_IEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_IEmpleado" />
  </wsdl:message>
  <wsdl:message name="SELECT_IEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_IEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PuestoSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_Puesto" />
  </wsdl:message>
  <wsdl:message name="SELECT_PuestoSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PuestoResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_EmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_Empleado" />
  </wsdl:message>
  <wsdl:message name="DELETE_EmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_EmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_EmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_Empleado" />
  </wsdl:message>
  <wsdl:message name="UPDATE_EmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_EmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_EmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_Empleado" />
  </wsdl:message>
  <wsdl:message name="INSERT_EmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_EmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_EmpleadoSoap">
    <wsdl:operation name="SELECT_Empleado">
      <wsdl:input message="tns:SELECT_EmpleadoSoapIn" />
      <wsdl:output message="tns:SELECT_EmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_IEmpleado">
      <wsdl:input message="tns:SELECT_IEmpleadoSoapIn" />
      <wsdl:output message="tns:SELECT_IEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_Puesto">
      <wsdl:input message="tns:SELECT_PuestoSoapIn" />
      <wsdl:output message="tns:SELECT_PuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_Empleado">
      <wsdl:input message="tns:DELETE_EmpleadoSoapIn" />
      <wsdl:output message="tns:DELETE_EmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Empleado">
      <wsdl:input message="tns:UPDATE_EmpleadoSoapIn" />
      <wsdl:output message="tns:UPDATE_EmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_Empleado">
      <wsdl:input message="tns:INSERT_EmpleadoSoapIn" />
      <wsdl:output message="tns:INSERT_EmpleadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_EmpleadoSoap" type="tns:WS_EmpleadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_Empleado">
      <soap:operation soapAction="http://tempuri.org/SELECT_Empleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_IEmpleado">
      <soap:operation soapAction="http://tempuri.org/SELECT_IEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_Puesto">
      <soap:operation soapAction="http://tempuri.org/SELECT_Puesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_Empleado">
      <soap:operation soapAction="http://tempuri.org/DELETE_Empleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Empleado">
      <soap:operation soapAction="http://tempuri.org/UPDATE_Empleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_Empleado">
      <soap:operation soapAction="http://tempuri.org/INSERT_Empleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_EmpleadoSoap12" type="tns:WS_EmpleadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_Empleado">
      <soap12:operation soapAction="http://tempuri.org/SELECT_Empleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_IEmpleado">
      <soap12:operation soapAction="http://tempuri.org/SELECT_IEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_Puesto">
      <soap12:operation soapAction="http://tempuri.org/SELECT_Puesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_Empleado">
      <soap12:operation soapAction="http://tempuri.org/DELETE_Empleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_Empleado">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_Empleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_Empleado">
      <soap12:operation soapAction="http://tempuri.org/INSERT_Empleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Empleado">
    <wsdl:port name="WS_EmpleadoSoap" binding="tns:WS_EmpleadoSoap">
      <soap:address location="http://localhost:49655/WS_Empleado.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_EmpleadoSoap12" binding="tns:WS_EmpleadoSoap12">
      <soap12:address location="http://localhost:49655/WS_Empleado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>